.vs
.vsconfig
*.sln
*.uproject
**/.vscode
Binaries
**/Binaries
Config
Content
**/Content
DerivedDataCache
Intermediate
**/Intermediate
PixelatedOutputPng
/Resources/
Platforms
Saved
/Source/